.sort {
  position: relative;

  &__text {
    font-size: 17px;
    cursor: pointer;

    span {
      border-bottom: 2px dashed rgb(2, 175, 209);
    }
  }

  &__popup {
    z-index: 2;
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0 0 5px 5px rgba(2, 175, 209, 0.25);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }

  &__item {
    padding: 10px;
    font-size: 15px;

    &:hover {
      background-color: darken(#f9f9f9, 5%);
    }

    &:active {
      background-color: darken(#f9f9f9, 7%);
    }
  }

  &__active {
    background: linear-gradient(163deg, rgba(2, 175, 209, 0.35) 0%, rgba(106, 85, 164, 0.35) 100%);
  }
}
